<div class="row">
  <div class="col-12 text-center">
    <h3 class="username"><%= user.name %></h3>
    <img class="rounded img-fluid d-block mx-auto" src="<%= gravatar_url(@user, { size: 150 }) %>" alt="">
    <div class="spec">
      <p>年齢:<%= cal_birthday %> 歳</p>
      <p>職業:<%= user.job %></p>
      <p>性別:<%= gender_system %></p>
    </div>
  </div>
</div> 