<div class='text-center mt-5 border-bottom'>
  <h1><%= @post.title %></h1>
</div>
<div class="text-center">
  <h4><%= @post.user.name %>さんによる投稿</h4>
  <i class="fas fa-thumbs-up"></i><p><%= @count_likes %></p>
</div>

</div>

<div class="row">
  <div class="col-sm-8 offset-sm-2 mb-5">
    <div class="card">
      <h3 class="card-header text-center">失敗の詳細</h3>
      <p class="card-body"><%= @post.content %></p>
    </div>
  </div>
</div>  
<div class="row">
  <div class="col-sm-8 offset-sm-2 mb-2">
    <div class="card">
      <h3 class="card-header text-center">失敗から学んだこと</h3>
      <p class="card-body"><%= @post.settle %></p>
    </div>
  </div>
</div> 
<div class="text-center mb-2">
  <span class="text-muted">posted at <%= @post.created_at %></span>
</div>


<% if current_user == @post.user %>
  <div class="row border-top">  
    <%= link_to "この投稿を削除", @post, method: :delete, data: { confirm: "本当によろしいですか？" }, class: "btn btn-danger btn-sm col-sm-2 offset-sm-3 mt-2 mb-5" %>
    <%= link_to "この投稿を編集", edit_post_path(@post), class: "btn btn-info btn-sm col-sm-2 offset-sm-2 mt-2 mb-5" %>
  </div>
<% else %>
  <%= render 'favorites/like_button', post: @post %>
<% end %>