<% posts.each do |post| %>
<div class="col-sm-4 text-center mb-4">
  <div class="card">
    <div class="card-header">
      <h5 class="post-title bg-light"><%= link_to post.title.truncate(20), post_path(post.id) %></h5>
    </div>
    <div class='card-body-1'>
      <p class="post_content"><%= post.content.truncate(50) %></p>
    </div>
    <div class="card-fotter">
      <p><%= link_to post.user.name, user_path(post.user) %>さんの投稿</p>
      <i class="fas fa-thumbs-up"></i>:<%= post.favorites.count %>
    </div>
  </div>
</div>
  <%= paginate posts %>
<% end %>